.qurbanir-info {
    background-color: #fceae8;
  }
  .categories img{
      width: 150px;
  
  }
  .qurbanir-btn{
      color: #fff;
      border: none;
      border-radius: 8px;
      padding: 9px 25px;
      background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
  
  }